<%= form_for [@artist, @song] do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Add Song", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
<% end %>
